@page "/ContactForm/Confirmation"
@using Jhooa.UI.Components.Layout
@using Jhooa.UI.Resources
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Shared> Loc

<section class="max-w-screen-xl mx-auto"
>
    <h1>@Loc["ContactFormConfirmationTitle"]</h1>
    <p>@Loc["ContactFormConfirmationDesc"]</p>
</section>


@code {
    
}