@page "/Admin/Users"
@attribute [Authorize(Roles = "Admin")]
@layout AdminLayout

@using Jhooa.UI.Components.Layout
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Jhooa.UI.Features.Identity.Components

@inject IStringLocalizer<Jhooa.UI.Resources.Shared> Loc

<PageTitle>@Loc["UsersList"]</PageTitle>

<section class="max-w-screen-xl mx-auto w-full">
    <h1 class="mb-8 text-4xl tracking-wider">@Loc["UsersList"]</h1>

    <UsersList> </UsersList>
</section>
