@page "/Admin/Users"
@attribute [Authorize(Roles = "Admin")]
@layout AdminLayout

@using Jhooa.UI.Components.Layout
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Jhooa.UI.Features.Identity.Components

@inject IStringLocalizer<Jhooa.UI.Resources.Shared> Loc

<PageTitle>@Loc["UsersList"]</PageTitle>

<section class="max-w-screen-xl mx-auto w-full">
    <h1 class="mb-8 text-4xl tracking-wider">@Loc["UsersList"] @(_nbUsers is not null ? $"({_nbUsers})" : "")</h1>

    <UsersList NbUsersCallback="HandleNbUsers" /> 
</section>

@code
{
    private int? _nbUsers;

    private void HandleNbUsers(int? nbUsers)
    {
        _nbUsers = nbUsers;
    }
}