@page "/Admin/Users"
@attribute [Authorize(Roles = "Admin")]
@layout AdminLayout

@using Jhooa.UI.Components.Layout
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Jhooa.UI.Features.Identity.Components

@inject IStringLocalizer<Jhooa.UI.Resources.Shared> Loc

<h3>@Loc["UsersList"]</h3>

<UsersList> </UsersList>