@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Butler";
        src: url("../fonts/butler/Butler_Regular.otf") format("opentype");
    }

    @font-face {
        font-family: "AmsiPro";
        src: url("../fonts/amsipro/AmsiPro-Regular.otf") format("opentype");
    }

    @font-face {
        font-family: "AmsiProLight";
        src: url("../fonts/amsipro/AmsiPro-Light.otf") format("opentype");
    }

    @font-face {
        font-family: "AmsiProBlack";
        src: url("../fonts/amsipro/AmsiPro-Black.otf") format("opentype");
    }

    @font-face {
        font-family: "AmsiSemiBold";
        src: url("../fonts/amsipro/AmsiPro-SemiBold.otf") format("opentype");
    }

    @font-face {
        font-family: "AmsiBold";
        src: url("../fonts/amsipro/AmsiPro-Bold.otf") format("opentype");
    }

    @font-face {
        font-family: "MonetaBold";
        src: url("../fonts/moneta/Moneta-Bold.woff2") format("woff2");
    }

    @font-face {
        font-family: "MonetaRegular";
        src: url("../fonts/moneta/Moneta-Regular.woff2") format("woff2");
    }
}

td, th {
    padding: 0.5rem 2rem;
}

.text-danger, .alert-danger {
    color: red;
}

.text-success, .alert-success {
    color: green;
}

label > a {
    text-decoration: underline;
}