@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Butler";
        src: url("../fonts/butler/Butler_Regular.otf") format("opentype");
    }

    @font-face {
        font-family: "AmsiPro";
        font-style: normal;
        font-weight: 500;
        src: url("../fonts/amsipro/AmsiPro-Regular.otf") format("opentype");
    }

    @font-face {
        font-family: "AmsiProLight";
        font-style: normal;
        font-weight: 300;
        src: url("../fonts/amsipro/AmsiPro-Light.otf") format("opentype");
    }

    @font-face {
        font-family: "AmsiSemiBold";
        font-style: normal;
        font-weight: 300;
        src: url("../fonts/amsipro/AmsiPro-SemiBold.otf") format("opentype");
    }

    @font-face {
        font-family: "WinterMinnie";
        src: url("../fonts/winter_minie/wm.otf") format("opentype");
    }
}

td, th {
    padding: 0.5rem 2rem;
}

.text-danger, .alert-danger {
    color: red;
}

.text-success, .alert-success {
    color: green;
}

label > a {
    text-decoration: underline;
}