@page "/Admin/Videos"
@attribute [Authorize(Roles = "Admin")]
@layout AdminLayout

@using Jhooa.UI.Components.Layout
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Jhooa.UI.Features.Videos.Components

@inject IStringLocalizer<Resources.Videos> Loc

<PageTitle>@Loc["Videos"]</PageTitle>

<section class="max-w-screen-xl mx-auto w-full">
    <div class="flex items-center justify-between mb-6">

        <h1 class="mb-8 text-4xl tracking-wider">@Loc["Videos"]  @(_nbVideos is not null ? $"({_nbVideos})" : "")</h1>

        <div class="flex items-center space-x-2">
            <JhooaAdminActionButton
                Url="/Admin/Video"
                Text="@Loc["AddVideo"]"
            />
        </div>

    </div>

    <AdminVideosList NbVideosCallback="HandleNbVideos"/>
</section>

@code
{
    private int? _nbVideos;

    private void HandleNbVideos(int? nbVideos)
    {
        _nbVideos = nbVideos;
    }
}