@page "/Admin/Events"
@attribute [Authorize(Roles = "Admin")]
@layout AdminLayout
@rendermode InteractiveServer

@using Jhooa.UI.Components.Layout
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Jhooa.UI.Features.Events.Components

@inject IStringLocalizer<Resources.Events> Loc

<PageTitle>@Loc["EventsList"]</PageTitle>

<section class="max-w-screen-xl mx-auto">
    <h1 class="mb-8">@Loc["EventsList"]</h1>

    <a href="/Admin/Event" class="order-2 border-white p-3 bg-gray-400">@Loc["AddEvent"]</a>

    <div class="mb-8"></div>

    <EventsList />
</section>

@code
{

}