@page "/Admin/Events"
@attribute [Authorize(Roles = "Admin")]
@layout AdminLayout

@using Jhooa.UI.Components.Layout
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Jhooa.UI.Features.Events.Components

@inject IStringLocalizer<Resources.Events> Loc

<PageTitle>@Loc["EventsList"]</PageTitle>

<section class="max-w-screen-xl mx-auto w-full">
    <div class="flex items-center justify-between mb-6">

        <h1 class="mb-8 text-4xl tracking-wider">@Loc["EventsList"]  @(_nbEvents is not null ? $"({_nbEvents})" : "")</h1>

        <div class="flex items-center space-x-2">
            <JhooaAdminActionButton
                Url="/Admin/Event"
                Text="@Loc["AddEvent"]"
            />
        </div>
    </div>

    <EventsList NbEventsCallback="HandleNbEvents"/>
</section>

@code
{
    private int? _nbEvents;

    private void HandleNbEvents(int? nbEvents)
    {
        _nbEvents = nbEvents;
    }
}