
@using Jhooa.UI.Resources
@using Microsoft.Extensions.Localization
@using Jhooa.UI.Components.Layout

@inject ApplicationDbContext DbContext
@inject IStringLocalizer<Shared> Loc
@inject NavigationManager NavigationManager

<footer class="bg-jhooa-peach-100 text-white">
 <div
  class="max-w-screen-lg mx-auto px-4 py-4
               flex justify-between
               "
 >
  <!-- Column 1: Email -->
  <p class=" md:items-center">
   <img src="images/mail.svg" alt="Facebook" class="w-5 h-5 inline mr-4"/>
   <a href="mailto:hello@jhooa.com" class="text-sm hover:underline">
    hello@jhooa.com
   </a>
  </p>

  <!-- Column 2: Facebook -->
  <p class=" md:items-center">
   <img src="images/fb.svg" alt="Facebook" class="w-5 h-5 inline mr-4"/>
   <a href="https://www.facebook.com/profile.php?id=61570329875950" target="_blank" class="text-sm hover:underline">
    <!-- Facebook icon placeholder -->
    <span>Jhooa.experience</span>
   </a>
  </p>

  <!-- Column 3: TikTok -->
  <p class=" md:items-center">
   <img src="images/tiktok.svg" alt="TikTok" class="w-5 h-5 inline mr-4"/>
   <a href="https://www.tiktok.com/@@jhooa.experience#" target="_blank" class="text-sm hover:underline">
    <!-- TikTok icon placeholder -->
    <span>Jhooa.experience</span>
   </a>
  </p>

  <!-- Column 4: Instagram -->
  <p class=" md:items-center ">
   <img src="images/instagram.svg" alt="Instagram" class="w-5 h-5 inline mr-4"/>
   <a href="https://www.instagram.com/jhooa.experience/" target="_blank" class="text-sm hover:underline">
    <!-- Instagram icon placeholder -->
    <span>Jhooa.experience</span>
   </a>
  </p>
 </div>
</footer>
<FooterPolicies/>
