
@using Jhooa.UI.Resources
@using Microsoft.Extensions.Localization
@using Jhooa.UI.Components.Layout

@inject ApplicationDbContext DbContext
@inject IStringLocalizer<Shared> Loc
@inject NavigationManager NavigationManager

<footer class="bg-[#CE8672] text-white">
 <div
  class="max-w-screen-xl mx-auto px-4 py-4
               grid grid-cols-1 md:grid-cols-4
               gap-4 md:gap-8
               text-center md:text-left"
 >
  <!-- Column 1: Email -->
  <div class="flex justify-start md:justify-start md:items-center space-x-2">
   <img src="images/mail.svg" alt="Facebook" class="w-5 h-5"/>
   <a href="mailto:hello@jhooa.com" class="text-sm hover:underline">
    hello@jhooa.com
   </a>
  </div>

  <!-- Column 2: Facebook -->
  <div class="flex justify-start md:justify-start md:items-center space-x-2">
   <img src="images/fb.svg" alt="Facebook" class="w-5 h-5"/>
   <a href="https://www.facebook.com/profile.php?id=61570329875950" target="_blank" class="text-sm hover:underline">
    <!-- Facebook icon placeholder -->
    <span>Jhooa.experience</span>
   </a>
  </div>

  <!-- Column 3: TikTok -->
  <div class="flex justify-start md:justify-start md:items-center space-x-2">
   <img src="images/tiktok.svg" alt="TikTok" class="w-5 h-5"/>
   <a href="https://www.tiktok.com/@@jhooa.experience#"  target="_blank" class="text-sm hover:underline">
    <!-- TikTok icon placeholder -->
    <span>Jhooa.experience</span>
   </a>
  </div>

  <!-- Column 4: Instagram -->
  <div class="flex justify-start md:justify-start md:items-center space-x-2">
   <img src="images/instagram.svg" alt="Instagram" class="w-5 h-5"/>
   <a href="https://www.instagram.com/jhooa.experience/" target="_blank" class="text-sm hover:underline">
    <!-- Instagram icon placeholder -->
    <span>Jhooa.experience</span>
   </a>
  </div>
 </div>
</footer>
<FooterPolicies/>
