@inherits LayoutComponentBase

<AccountNavMenu />

<main class="flex-grow bg-cover bg-center grid place-items-center" style="background-image: url('https://placehold.co/1000x1000/000/808080?text=.')">

    @Body
</main>

<AccountFooter />

