@using Jhooa.UI.Resources
@using Microsoft.Extensions.Localization
@using Jhooa.UI.Features.Localization.Components

@implements IDisposable

@inject IStringLocalizer<Shared> Loc
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<header class="w-full bg-gradient-to-b from-jhooa-teal-900 to-jhooa-teal-200">
    <div class="max-w-screen-xl mx-auto px-4 py-2 flex items-center text-white pt-6">
        <div class="basis-64 md:basis-80 flex-none items-center space-x-2">
            <p href="@NavigationManager.BaseUri" class="text-sm hover:underline inline-block cursor-pointer" @onclick="GoToHome">
                <img src="images/chevron-left.svg" alt="back" class="h-5 w-5 inline mr-2"/> @Loc["BackToHome"]
            </p>
        </div>

        <div class="basis-64 md:basis-80 grow flex justify-center hidden md:block">
            <img src="images/logo_no_tagline.svg" alt="Jhooa" class="h-16 m-auto hidden md:inline-block"/>
        </div>

        <div class="basis-64 md:basis-80 items-center space-x-4">
            <div class="relative inline-block md:float-end">
                <CultureSelector/>
            </div>
            <AuthorizeView>
                <Authorized>
                    <form action="Account/Logout" method="post"
                          class="px-3 block text-right md:inline md:float-end">
                        <AntiforgeryToken/>
                        <input type="hidden" name="ReturnUrl" value="@_currentUrl"/>
                        <button type="submit"
                                class="rounded-md px-6 py-3 text-sm hidden md:inline-block md:float-end bg-[#BE755F]">
                            <img src="images/login.svg" class="h-4 w-4 rounded-full inline-block mr-2" alt="user"/>
                            @Loc["Logout"]
                        </button>
                    </form>
                </Authorized>
            </AuthorizeView>
        </div>
    </div>
</header>

@code {
    private string? _currentUrl;

    protected override void OnInitialized()
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
    
    private void GoToHome()
    {
        NavigationManager.NavigateTo("/", new NavigationOptions
        {
            ForceLoad = true
        });
    }
}