@inherits LayoutComponentBase

<div class="bg-cover bg-center min-h-screen flex flex-col" style="background-image: url('./images/connection-background.jpg')">
    <LoginNavMenu />

    <main class="flex-grow  grid place-items-center" >
        @Body
    </main>

    <AccountFooter />
</div>


