@inherits LayoutComponentBase

<div class="bg-cover bg-center min-h-screen "
     style="background-image: url('./images/connection-background.jpg')">
    <div
        class="absolute inset-0 bg-black/50 flex flex-col">
        <LoginNavMenu/>

        <main class="flex-grow  grid place-items-center">
            @Body
        </main>

        <AccountFooter/>
    </div>
</div>


