@inherits LayoutComponentBase

<div class="bg-cover bg-center min-h-screen flex flex-col bg-jhooa-teal-200">
    <AccountNavMenu />

    <main class="flex-grow grid">
        <div class="md:mt-6">
            <AuthorizeView>
                <Authorized>

                    <ManageNavMenu/>

                </Authorized>
            </AuthorizeView>

            @Body
        </div>
        
    </main>

    <AccountFooter />
</div>
