@page "/Admin/Dreams"
@attribute [Authorize(Roles = "Admin")]
@layout AdminLayout
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@using Jhooa.UI.Components.Layout
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Jhooa.UI.Features.Dreams.Components
@using Jhooa.UI.Features.Dreams.Models

@inject IStringLocalizer<Resources.Dreams> Loc
<PageTitle>@Loc["DreamsList"]</PageTitle>

<section class="max-w-screen-xl mx-auto w-full">
    <div class="flex items-center justify-between mb-6">
        <h1 class="mb-8 text-4xl tracking-wider">@Loc["DreamsList"]  @(_nbDreams is not null ? $"({_nbDreams})" : "")</h1>

        <FilterDreams
            SelectDreamTypeCallback="HandleDreamTypeSelection">
        </FilterDreams>
    </div>

    <div class="mb-4"></div>

    <DreamsList
        SelectedDreamType="_selectedDreamType">
    </DreamsList>
</section>


@code
{
    private DreamTypes? _selectedDreamType;
    private int? _nbDreams;

    private void HandleNbDreams(int? nbDreams)
    {
        _nbDreams = nbDreams;
    }
    private void HandleDreamTypeSelection(DreamTypes? type)
    {
        _selectedDreamType = type;
    }
}