<section class="w-[20rem] md:w-[60rem] mx-auto px-8">
    <iframe
        src="https://player.vimeo.com/video/1055656182?h=b65a8f712b&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
        class="w-full h-[10rem]  md:h-[30rem]"
        title="Interview Jhooa V3"></iframe>
    <script src="https://player.vimeo.com/api/player.js"></script>
</section>