<section class="w-[20rem] md:w-[60rem] mx-auto px-8">
    @* <img src="https://placehold.co/1100x623/074a00/fff?text=video" alt="Header with boat" class="m-auto object-cover" /> *@

    <iframe
        src="https://player.vimeo.com/video/1037410284"
        class="w-full h-[10rem]  md:h-[30rem]"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen>
    </iframe>
</section>