@page "/Error"
@using System.Diagnostics

<PageTitle>Error</PageTitle>

<section class="">
    <div class="w-full ">
        <div class="max-w-screen-xl mx-auto px-8 grid grid-cols-1 mt-8 font-amsiProLight">

            <h1 class="mb-8 text-4xl tracking-wider font-butler text-jhooa-teal-200">Error</h1>

            <p class="policy-content tracking-wider">
                An error occurred while processing your request.
                @if (ShowRequestId)
                {
                <p>
                    <strong>Request ID:</strong> <code>@RequestId</code>
                </p>
            }
            </p>

        </div>
    </div>
</section>
<script src="js/mobileMenu.js"></script>

@code{
    [CascadingParameter] private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;

}
