@page "/"

@using Jhooa.UI.Features.Identity
@using Microsoft.Extensions.Localization
@using Jhooa.UI.Features.Home.Components

@inject IStringLocalizer<Features.Home.Resources.Home> Loc
@inject IdentityUserAccessor UserAccessor

<PageTitle>Home</PageTitle>

<HomeHeader />

<HomeConcept />

<div class="h-24"></div>

<HomeVideo />

<div class="h-24"></div>

<h3 class="text-center">@Loc["TitleCourage"]</h3>

<div class="h-24"></div>

<HomeEvents />

<div class="h-24"></div>

<HomeExperience />

@code {
    
    

}