@page "/"

@using Jhooa.UI.Components.Account
@using Jhooa.UI.Data
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Home> Loc
@inject IdentityUserAccessor UserAccessor

<PageTitle>Home</PageTitle>

<h1>@Loc["Welcome"] @_user?.UserName</h1>

@CultureInfo.CurrentCulture

<AuthorizeView>
    <NotAuthorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Account/Register">
                <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Account/Login">
                <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
            </NavLink>
        </div>
    </NotAuthorized>
</AuthorizeView>



@code {
    
    private ApplicationUser? _user;

    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        if (HttpContext.User.Identity?.IsAuthenticated == true)
        {
            _user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        }
    }

}