@page "/"

@using Jhooa.UI.Features.Identity
@using Jhooa.UI.Features.Identity.Models
@using Jhooa.UI.Resources
@using Microsoft.Extensions.Localization
@using Jhooa.UI.Features.Subscriptions.Components

@inject IStringLocalizer<Shared> Loc
@inject IdentityUserAccessor UserAccessor

<PageTitle>Home</PageTitle>

<h1>@Loc["Welcome"] @_user?.FirstName</h1>

<BuySubscription />

@code {
    
    private ApplicationUser? _user;
    
    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;
    
    protected override async Task OnInitializedAsync()
    {
        if (HttpContext.User.Identity?.IsAuthenticated == true)
        {
            _user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        }
    }

}