@page "/"

@using Jhooa.UI.Features.Identity
@using Jhooa.UI.Features.Identity.Models
@using Jhooa.UI.Resources
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<Shared> Loc
@inject IdentityUserAccessor UserAccessor

<PageTitle>Home</PageTitle>

<h1>@Loc["Welcome"] @_user?.UserName</h1>

@code {
    
    private ApplicationUser? _user;
    
    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;
    
    protected override async Task OnInitializedAsync()
    {
        if (HttpContext.User.Identity?.IsAuthenticated == true)
        {
            _user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        }
    }

}