@page "/legal-notices"
@using Jhooa.UI.Resources
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Policy> Loc

<section class="">
    <div class="w-full ">

        <div class="max-w-screen-xl mx-auto px-8 grid grid-cols-1 mt-8">
            <div class="px-4">

                <h2 class="mb-8 text-4xl tracking-wider font-butler">@Loc["LegalNotices"]</h2>

            </div>

        </div>
    </div>
</section>

@code {
    
}