@page "/privacy-policy"
@using Jhooa.UI.Components.Layout
@using Jhooa.UI.Resources
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Policy> Loc
@layout PolicyLayout

<section class="">
    <div class="w-full ">
        <div class="max-w-screen-xl mx-auto px-8 grid grid-cols-1 mt-8 font-amsiProLight">

                <h1 class="mb-8 text-4xl tracking-wider font-butler text-jhooa-teal-200">@Loc["PrivacyPolicy"]</h1>
                <h2 class="mb-2 text-lg tracking-wider font-amsiSemiBold text-jhooa-teal-200">TITLE 2</h2>
                <p class="mb-3 text-sm">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mollis sem ac dolor pretium
                    vulputate. Aenean dapibus neque in tortor lacinia, et finibus eros mollis. Suspendisse vitae
                    pharetra est, non suscipit erat. Donec imperdiet fermentum tempus. Aliquam odio arcu, ullamcorper eu
                    tristique quis, lobortis sed neque. Sed interdum tristique fringilla. Ut vitae lacinia tellus. Orci
                    varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas aliquet
                    aliquet dui eget ullamcorper. Maecenas at metus et ex malesuada placerat ac quis enim. Curabitur
                    cursus, ex ac porttitor posuere, magna magna commodo dui, sed faucibus urna velit non sem. Integer
                    varius lacinia augue vitae fringilla. Suspendisse nec risus in odio elementum pellentesque vitae eu
                    tortor. Morbi in porta justo.
                </p>
                <h3 class="mb-2 tracking-wider text-jhooa-peach-100  font-amsiSemiBold">TITLE 3</h3>
                <p class="mb-3 text-sm">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mollis sem ac dolor pretium
                    vulputate. Aenean dapibus neque in tortor lacinia, et finibus eros mollis. Suspendisse vitae
                    pharetra est, non suscipit erat. Donec imperdiet fermentum tempus. Aliquam odio arcu, ullamcorper eu
                    tristique quis, lobortis sed neque. Sed interdum tristique fringilla. Ut vitae lacinia tellus. Orci
                    varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas aliquet
                    aliquet dui eget ullamcorper. Maecenas at metus et ex malesuada placerat ac quis enim. Curabitur
                    cursus, ex ac porttitor posuere, magna magna commodo dui, sed faucibus urna velit non sem. Integer
                    varius lacinia augue vitae fringilla. Suspendisse nec risus in odio elementum pellentesque vitae eu
                    tortor. Morbi in porta justo.
                </p>
                <h4 class="mb-2 tracking-wider text-jhooa-teal-100  font-amsiSemiBold">Title 4</h4>
                <p class="mb-3 text-sm">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mollis sem ac dolor pretium
                    vulputate. Aenean dapibus neque in tortor lacinia, et finibus eros mollis. Suspendisse vitae
                    pharetra est, non suscipit erat. Donec imperdiet fermentum tempus. Aliquam odio arcu, ullamcorper eu
                    tristique quis, lobortis sed neque. Sed interdum tristique fringilla. Ut vitae lacinia tellus. Orci
                    varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas aliquet
                    aliquet dui eget ullamcorper. Maecenas at metus et ex malesuada placerat ac quis enim. Curabitur
                    cursus, ex ac porttitor posuere, magna magna commodo dui, sed faucibus urna velit non sem. Integer
                    varius lacinia augue vitae fringilla. Suspendisse nec risus in odio elementum pellentesque vitae eu
                    tortor. Morbi in porta justo.
                </p>
            </div>

    </div>
</section>