@page "/Account/AccessDenied"
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<Resources.Identity> Loc


<PageTitle>@Loc["AccessDenied"]</PageTitle>

<header class="max-w-screen-xl mx-auto text-white">
    <h1 class="text-danger">@Loc["AccessDenied"]</h1>
    <p class="text-danger">@Loc["AccessDeniedResource"]</p>
</header>
