@page "/Account/ForgotPasswordConfirmation"

@using Microsoft.Extensions.Localization

@inject IStringLocalizer<Resources.Identity> Loc

<PageTitle>@Loc["ForgotPasswordConfirmation"]</PageTitle>

<header class="max-w-screen-xl mx-auto text-white">
    <h1>@Loc["ForgotPasswordConfirmation"]</h1>
    <p>
        @Loc["ForgotPasswordEmailReset"]
    </p>
</header>

<script src="js/mobileMenu.js"></script>
