@page "/Account/InvalidPasswordReset"

@using Microsoft.Extensions.Localization

@inject IStringLocalizer<Resources.Identity> Loc

<PageTitle>@Loc["InvalidPasswordReset"]</PageTitle>

<header class="max-w-screen-xl mx-auto text-white">
    <h1>@Loc["InvalidPasswordReset"]</h1>
    <p>
        @Loc["InvalidPasswordResetLink"]
    </p>
</header>

<script src="js/mobileMenu.js"></script>
