@page "/Account/Lockout"
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<Resources.Identity> Loc

<PageTitle>@Loc["LockedOut"]</PageTitle>

<header class="max-w-screen-xl mx-auto text-white">
    <h1 class="text-danger">@Loc["LockedOut"]</h1>
    <p class="text-danger">@Loc["LockedOutTryLater"]</p>
</header>