@page "/Account/ResetPasswordConfirmation"
@using Microsoft.Extensions.Localization
@using Jhooa.UI.Features.Identity.Components

@inject IStringLocalizer<Resources.Identity> Loc
@inject NavigationManager NavigationManager

<PageTitle>@Loc["ResetPasswordConfirmation"]</PageTitle>

<h1 class="mb-8">@Loc["ResetPasswordConfirmation"]</h1>
<JhooaButtonLink Text="@Loc["Login"]" Url="@(NavigationManager.GetUriWithQueryParameters("Account/Login", new Dictionary<string, object?> { }))" />

<script src="js/mobileMenu.js"></script>
