@page "/Events"

@using Microsoft.Extensions.Localization
@using Jhooa.UI.Features.Events.Components

@inject IStringLocalizer<Jhooa.UI.Resources.Shared> LocShared

<PageTitle>@LocShared["TitleEvents"]</PageTitle>

<JhooaStatusMessage />

<NextEvents />

<div class="mb-10"></div>

<HowToRegister />

<div class="mb-10"></div>

<PastEvents />

<script src="js/mobileMenu.js"></script>


@code {

    

}