@page "/Events"

@using Microsoft.Extensions.Localization
@using Jhooa.UI.Features.Events.Components

@inject IStringLocalizer<Resources.Events> Loc

<PageTitle>@Loc["EventsList"]</PageTitle>

<EventHeader />

<div class="mb-16"></div>

<JhooaStatusMessage />

<div class="mb-16"></div>

<NextEvents />

<div class="mb-16"></div>

<HowToRegister />

<div class="mb-16"></div>

<PastEvents />

@code {

    

}