@using Jhooa.UI.Features.Events.Models
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<Resources.Events> Loc
@inject ApplicationDbContext DbContext


<section class="mb-8 md:mb-20 w-full bg-jhooa-teal-200">
    <div class="max-w-screen-xl mx-auto px-8 text-white">

        <h1 class="text-butler text-3xl text-white mb-6 pt-8">@Loc["NextEvents"]</h1>

        <div class="flex space-x-4 pb-10">
            @if (_events is not null && _events.Count > 0)
            {
                @foreach (var ev in _events.OrderBy(ev => ev.StartDate))
                {
                    <EventCard Event="ev"/>
                }
            }
            else if (_events is not null && _events.Count == 0)
            {
                <p>@Loc["NoNextEvents"]</p>
            }
            else
            {
                <p>@Loc["Loading"]</p>
            }
        </div>
    </div>

</section>


@code {

    private List<Event>? _events;

    protected override async Task OnInitializedAsync()
    {
        _events ??= await DbContext.Events.Where(ev => ev.StartDate >= DateTimeOffset.Now).Include(i => i.Registrations).ToListAsync();
    }

}