@attribute [StreamRendering]
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<Resources.Events> Loc
@inject ApplicationDbContext DbContext

<section class="mb-8 md:mb-10 w-full bg-jhooa-teal-200">
    <div class="max-w-screen-xl mx-auto px-8 text-white">

        <h1 class="text-butler text-3xl text-white mb-6 pt-8">@Loc["NextEvents"]</h1>

        <PublicEventList />
    </div>
</section>