@using System.Security.Claims
@using Jhooa.UI.Configuration
@using Jhooa.UI.Features.Identity
@using Jhooa.UI.Features.Subscriptions.Models
@using Jhooa.UI.Managers
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<Resources.Events> Loc
@inject NavigationManager NavigationManager
@inject ApplicationDbContext DbContext
@inject IdentityUserAccessor UserAccessor
@inject AuthenticationStateProvider AuthStateProvider
@inject RedirectManager RedirectManager
@rendermode InteractiveServer

@if (!IsPast)
{
    @switch (CanRegister)
    {
        case false:
            <p class="text-sm text-jhooa-brick-500">@Loc["RequiresAuthentication"]</p>
            break;
        case true when _isRegistered:
            <p class="text-jhooa-teal-200">@Loc["AlreadyRegistered"]</p>
            <button
                class="bg-jhooa-teal-100 text-white py-2 px-8 rounded hover:bg-jhooa-teal-100" @onclick="() => UnregisterToEventAsync(EventId)">
                @Loc["RemoveRegistration"]
            </button>
            break;
        default:
            <button
                class="bg-jhooa-teal-100 text-white py-2 px-8 rounded hover:bg-jhooa-teal-100" @onclick="() => RegisterToEventAsync(EventId)">
                @Loc["Register"]
            </button>
            break;
    }
}

@code {


    [Parameter] public Guid EventId { get; set; }
    [Parameter] public DateTimeOffset Date { get; set; }
    [Parameter] public bool IsPast { get; set; }
    [Parameter] public bool CanRegister { get; set; }

    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    private bool _isRegistered;
    private Guid? _userId;

    private async Task RegisterToEventAsync(Guid? eventId)
    {
        if (eventId.HasValue && _userId is not null)
        {
            await DbContext.Registrations.AddAsync(new Jhooa.UI.Features.Events.Models.Registration()
            {
                EventId = EventId,
                UserId = _userId.Value,
            });
            await DbContext.SaveChangesAsync();
            //RedirectManager.RedirectToWithStatus($"/Events/{EventId}", Loc["Registered"], HttpContext);
            _isRegistered = true;
            StateHasChanged();
        }
    }
    
    private async Task UnregisterToEventAsync(Guid? eventId)
    {
        if (eventId.HasValue && _userId is not null)
        {
            await DbContext.Registrations.Where(r => r.UserId == _userId && r.EventId == EventId).ExecuteDeleteAsync();
            await DbContext.SaveChangesAsync();
            _isRegistered = false;
            StateHasChanged();
            //RedirectManager.RedirectToWithStatus($"/Events/{EventId}", Loc["Unregistered"], HttpContext);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();

        if (authState.User.Identity?.IsAuthenticated == true)
        {
            _userId = new Guid(authState.User.Claims.First(c => c.Type == ClaimTypes.NameIdentifier).Value);

            var subActiveClaim = authState.User.Claims.FirstOrDefault(c => c.Type == Constants.Claims.IsSubActive);
            if (subActiveClaim is null)
            {
                CanRegister = false;
                return;
            }

            var isSubActive = bool.Parse(subActiveClaim.Value);
            if (!isSubActive)
            {
                CanRegister = false;
                return;
            }
            
            var subStartDateClaim = authState.User.Claims.First(c => c.Type == Constants.Claims.SubStartDate);
            var subStartDate = DateTimeOffset.Parse(subStartDateClaim.Value);

            var subEndDateClaim = authState.User.Claims.FirstOrDefault(c => c.Type == Constants.Claims.SubEndDate);
            if (subEndDateClaim is not null)
            {
                var subEndDate = DateTimeOffset.Parse(subEndDateClaim.Value);
            
                if (Date <= subEndDate)
                {
                    CanRegister = true;
                }
            }
            else
            {
                var userView = await DbContext.UsersView.FirstAsync(u => u.Id == _userId);
                if (userView.SubscriptionType == SubscriptionType.MonthlyRecurring)
                {
                    var nextMonth = DateTime.Now.AddMonths(1);
                    var endDate = new DateTime(nextMonth.Year, nextMonth.Month, subStartDate.Day);
                    
                    if (Date <= endDate)
                    {
                        CanRegister = true;
                    }
                }
                else if (userView.SubscriptionType == SubscriptionType.YearlyRecurring)
                {
                    var nextYear = DateTime.Now.AddYears(1);
                    var endDate = new DateTime(nextYear.Year, nextYear.Month, subStartDate.Day);
                    
                    if (Date <= endDate)
                    {
                        CanRegister = true;
                    }
                }
            }
            
            
            if (authState.User.Claims.Any(c => c.Type == ClaimTypes.NameIdentifier))
            {
                _isRegistered = await DbContext.Registrations.AnyAsync(r => r.UserId == _userId && r.EventId == EventId);
            }
        }
    }
}