@using Jhooa.UI.Resources
@using Microsoft.Extensions.Localization

@inject ApplicationDbContext DbContext
@inject IStringLocalizer<Shared> Loc
@inject NavigationManager NavigationManager

<div class="h-24"></div>

<footer class="w-full bg-jhooa-peach-100 min-h-16">
    <div class="max-w-screen-xl mx-auto grid grid-cols-4">
        <div>Email</div>
        <div>Facebook</div>
        <div>TikTok</div>
        <div>Instagram</div>
    </div>
</footer>

@code {


}