@using Jhooa.UI.Features.Identity.Shared

@inherits LayoutComponentBase

<AdminNavMenu/>

<main class="flex-grow bg-cover  grid py-6 bg-black text-white"
      style="">
    
    @Body
</main>

<AccountFooter/>