@using Jhooa.UI.Resources
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Policy> Loc

<footer class="bg-jhooa-teal-900 text-white py-4 text-xs tracking-wider">
    <div class="max-w-6xl mx-auto px-4">
        <!-- 2 columns on desktop, stack on mobile -->
        <div class="grid md:grid-cols-12 gap-2">
            <p class="col-span-2">
                <img src="images/logo_no_tagline.svg" alt="" class="w-20" />
            </p>
            <div class="md:col-span-10 flex justify-between">
                <p class="underline content-center">
                    <a href="/general-terms">
                        <span>@Loc["GeneralTerms"]</span>
                    </a>
                </p>
                <p class="underline content-center">
                    <a href="/legal-notices">
                        <span>@Loc["LegalNotices"]</span>
                    </a>
                </p>
                <p class="underline content-center">
                    <a href="/privacy-policy">
                        <span>@Loc["PrivacyPolicy"]</span>
                    </a>
                </p>
                <p class="underline content-center">
                    <a href="/cookie-policy">
                        <span>@Loc["CookiePolicy"]</span>
                    </a>
                </p>
                <p class="content-center">
                    <span>©Copyright Jhooa</span>
                </p>
            </div>
            
            
        </div>
    </div>
</footer>