@using Jhooa.UI.Resources
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Shared> Loc

<footer class="bg-jhooa-teal-900 text-white py-8">
    <div class="max-w-6xl mx-auto px-4">
        <!-- 2 columns on desktop, stack on mobile -->
        <div class="md:grid md:grid-cols-5 md:gap-8">
            <p class="underline">
                <a href="/legal-notices">
                    <span>@Loc["LegalNotices"]</span>
                </a>
            </p>
            <p class="underline">
                <a href="/privacy-policy">
                    <span>@Loc["PrivacyPolicy"]</span>
                </a>
            </p>
            <p class="underline">
                <a href="/terms-conditions">
                    <span>@Loc["GeneralTerms"]</span>
                </a>
            </p>
            <p class="underline">
                <a href="/cookie-policy">
                    <span>@Loc["CookiePolicy"]</span>
                </a>
            </p>
            <p class="">
                <span>©Copyright Jhooa</span>
            </p>
        </div>
    </div>
</footer>