@inherits LayoutComponentBase

<div id="top"></div>

<div class=" h-banner bg-jhooa-teal-200">
    <div class="container">
        <NavMenu/>
        <MainHeader />
    </div>
</div>
@Body

<MainFooter />