@using Jhooa.UI.Features.Home.Components
@inherits LayoutComponentBase

<div class=" h-banner bg-jhooa-teal-200">
    <div class="container">
        <NavMenu/>
        <HomeHeader />
    </div>
</div>
@Body

<MainFooter @rendermode="InteractiveServer"/>