@inject NavigationManager NavigationManager

<section class="w-full  absolute">
    <div class="absolute inset-0">
        <img src="@_imageLargeUrl" alt="Header"
             class="hidden lg:block m-auto h-[589px] object-cover "/>
        <img src="@_imageMediumUrl" alt="Header"
             class="hidden md:block lg:hidden m-auto h-[589px] object-cover "/>
        <img src="@_imageSmallUrl" alt="Header"
             class="md:hidden m-auto h-[589px] object-cover "/>
    </div>
</section>
<section class="w-full md:hidden">
    <div class="absolute mt-52 mx-auto ">
        <img src="./images/logo.svg" alt="Logo" class="m-auto object-cover w-5/6 ml-10"/>
    </div>
</section>
<section class="w-full absolute hidden md:block">
    <div class="mt-6 max-w-screen-xl mx-auto ">
        <div class="absolute mt-52 ml-32 ">
            <img src="./images/logo.svg" alt="Logo" class="m-auto object-cover w-96"/>
        </div>
    </div>
</section>

<SocialMediaPanel/>

@code {
    private string? _currentUrl;
    private string _currentRoot = string.Empty;
    private string _imageLargeUrl = string.Empty;
    private string _imageMediumUrl = string.Empty;
    private string _imageSmallUrl = string.Empty;

    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    protected override void OnInitialized()
    {
        _currentRoot = NavigationManager.Uri.Replace(NavigationManager.BaseUri, "");

        if (string.IsNullOrWhiteSpace(_currentRoot))
        {
            _imageLargeUrl = "./images/headers/home-big.jpg";
            _imageMediumUrl = "./images/headers/home-medium.jpg";
            _imageSmallUrl = "./images/headers/home-small.jpg";
        }
        else if (_currentRoot.StartsWith("Events", StringComparison.OrdinalIgnoreCase))
            _imageLargeUrl = "https://placehold.co/3000x574/FF0000/fff?text=.";
        else if (_currentRoot.StartsWith("Videos", StringComparison.OrdinalIgnoreCase))
            _imageLargeUrl = "https://placehold.co/3000x574/0000ff/fff?text=.";
        else
            _imageLargeUrl = "https://placehold.co/3000x574/808080/fff?text=.";
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

}