@using Jhooa.UI.Resources
@using Microsoft.Extensions.Localization
@inherits LayoutComponentBase
@inject IStringLocalizer<Shared> Loc

<PolicyHeader />

<main class="flex-grow">
    <div class="max-w-screen-xl mx-auto">
        <div class="flex items-center space-x-2 px-8 mt-4">
            <a href="/" class="focus:outline-none mr-2 flex items-center">
                <img src="images/chevron-left.svg" alt="back" class="h-5 w-5"/>

            </a>
            <a href="/" class="hover:underline text-lg text-jhooa-gray-100">
                @Loc["BackToHome"]
            </a>
        </div>
    </div>
    
    @Body
</main>

<MainFooter />

