@using Jhooa.UI.Resources
@using Microsoft.Extensions.Localization
@inherits LayoutComponentBase
@inject IStringLocalizer<Shared> Loc

<PolicyHeader />

<main class="flex-grow">
    <div class="max-w-screen-xl mx-auto">
        <div class="flex items-center space-x-2 px-8 mt-4">
            <a href="/" class="focus:outline-none mr-2 flex items-center">
                <svg
                    class="h-5 w-5"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path d="M10 19l-7-7 7-7"/>
                    <path d="M3 12h18"/>
                </svg>
            </a>
            <a href="/" class="hover:underline text-lg text-jhooa-gray-100">
                @Loc["BackToHome"]
            </a>
        </div>
    </div>
    
    @Body
</main>

<MainFooter />

