@using Jhooa.UI.Resources
@using Microsoft.Extensions.Localization
@inherits LayoutComponentBase
@inject IStringLocalizer<Shared> Loc

<PolicyHeader />

<main class="flex-grow">
    @Body
</main>

<MainFooter />

