<!-- Social Media Panel -->
<section class="hidden md:block w-14 right-0 top-52 absolute">
    <div class="bg-white bg-opacity-50 shadow-md p-2 rounded-l-xl">
        <ul class="space-y-4">
            <li>
                <a href="https://facebook.com" target="_blank" class="block p-2 text-white text-opacity-80  hover:text-opacity-100">
                    <img src="images/fb.svg" class="h-6 w-6" alt="Facebook" />
                </a>
            </li>
            <li>
                <a href="https://twitter.com" target="_blank" class="block p-2 text-white text-opacity-80 hover:text-opacity-100">
                    <img src="images/tiktok.svg" class="h-6 w-6" alt="TikTok" />

                </a>
            </li>
            <li>
                <a href="https://instagram.com" target="_blank" class="block p-2 text-white text-opacity-80 hover:text-opacity-100">
                    <img src="images/instagram.svg" class="h-6 w-6" alt="Instagram" />

                </a>
            </li>
        </ul>
    </div>
</section>

@code {
    
}